<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container row">
        <div class="col s12 m6">
          <div class="card indigo medium">
            <div class="card-content white-text">
              <span class="card-title"><%= note.title %></span>
              <p><%= note.body %></p>
              <p class="divider"></p>
              <p>Created by: <%= note.email %></p>
              <p>Created at: <%= note.createdAt %></p>
            </div>
            <div class="card-action">
                <a class="delete btn red darken-1" data-doc="<%= note._id %>">Delete Note</a>
            </div>
          </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>

    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
          const endpoint = `/notes/${trashcan.dataset.doc}`;
          fetch(endpoint, {
            method: 'DELETE',
          })
          .then(response => response.json())
          .then(data => window.location.href = data.redirect)
          .catch(err => console.log(err));
        });
        
    </script>
</body>
</html>