<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container row">
        <% if(notes.length > 0) { %>
            <% notes.forEach(note => { %> 
                <div class="col s1 m4">
                  <div class="card hoverable indigo">
                    <div class="card-content white-text">
                      <span class="card-title"><%= note.title %></span>
                      <p><%= note.subject %></p>
                    </div>
                    <div class="card-action">
                      <a href="/notes/<%= note._id %>">More info</a>
                    </div>
                  </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>There are no Notes at the moment to display</p>
        <% } %>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>